/* Responsive styles */

@media (max-width: 1285px) {
    html {
        font-size: 55%;
    }

    .services-container {
        padding-bottom: 7rem;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 5rem;
    }

    .project-container {
        gap: 150px 50px;
    }

    .footer {
        padding: 25px 0;
    }

    .footer.container {
        max-width: 60%;
    }

    .footer.row {
        flex-direction: row;
    }

    .footer.col-md-4 {
        flex-basis: 25%;
    }
}

@media (max-width: 991px) {
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .timeline-item::before {
        left: 7px;
    }

    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }

    .timeline-items::before {
        width: 0;
    }

    .timeline-dot {
        left: 0;
    }

    .services {
        padding-bottom: 7rem;
    }

    .service-box {
        padding-inline: 9px;
    }

    .service-info h4 {
        line-height: 1.2;
    }

    .project .project-card {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-container {
        gap: 100px 30px;
    }

    .contact form {
        flex-direction: column;
    }

    .footer {
        padding: 15px 0;
    }

    .footer.container {
        max-width: 80%;
    }

    .footer.row {
        flex-direction: row;
    }

    .footer.col-md-4 {
        flex-basis: 50%;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 895px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }

    .home {
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 8rem;
        margin-top: 3rem;
    }

    .home-content p {
        max-width: 600px;
        margin: 0 auto;
    }

    .home-img img {
        width: 56vw;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .service-box {
        padding-inline: 9px;
    }

    .service-box .service-info {
        overflow: auto;
        scroll-behavior: smooth;
        max-height: max-content;
    }

    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-container {
        gap: 50px 20px;
    }

    .project-card>.project-content>h2 {
        margin-top: 1vw;
    }

    .certificate-content p {
        font-size: 1.8rem;
        margin: auto;
        max-width: -webkit-fill-available;
    }

    #notification-popup {
        left: 50%;
        max-width: 400px;
        top: 100px;
    }

    #notification-message {
        font-size: 1.4em;
    }

    .button {
        font-size: 5px;
        margin-left: 100px;
    }

    .footer {
        padding: 10px 0;
    }

    .footer.container {
        max-width: 90%;
    }

    .footer.row {
        flex-direction: column;
    }

    .footer .social a {
        font-size: 20px;
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

    .footer.col-md-4 {
        flex-basis: 100%;
    }

    .footer .container .row #left-col {
        overflow-y: scroll;
        scrollbar-width: none;
        scroll-behavior: smooth;
        flex-basis: 66.33%;
        height: 24rem;
        margin-bottom: 20px;
    }

    .footer .container .row #right-col {
        flex-basis: 100.33%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 480px) {
    html {
        width: 117vw;
        font-size: 50%;
        /* Adjust base font size for better readability on small screens */
    }

    .header {
        padding: 2rem 5%;
        /* Adjust padding for smaller screens */
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        font-size: 2rem;
        /* Reduce logo size */
    }

    .navbar a {
        font-size: 1.4rem;
        /* Reduce font size for links */
        margin-left: 2rem;
        /* Adjust margin */
    }

    #menu-icon {
        display: block;
        /* Display menu icon on small screens */
    }

    section {
        padding: 5rem 5%;
        /* Adjust section padding */
    }

    .home {
        flex-direction: column;
        gap: 5rem;
        align-items: center;
        text-align: center;
    }

    .home-content h1 {
        font-size: 3rem;
        /* Reduce font size for headings */
    }

    .home-content h3 {
        font-size: 2rem;
        /* Reduce font size for subheadings */
    }

    .home-img img {
        width: 70vw;
        /* Adjust image size for small screens */
    }

    .social-icon a {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1.8rem;
    }

    .btn {
        padding: 0.8rem 1.8rem;
        font-size: 1.4rem;
        /* Adjust button size */
    }

    .service-box {
        height: auto;
        padding: 2rem;
        /* Adjust padding */
    }

    .services-container {
        margin: 0 2rem;
    }

    .project-card {
        width: 66vw;
    }

    .project-card>.project-content>h2 {
        margin-top: 6px;
    }

    .footer {
        padding: 10px 5%;
        /* Adjust padding */
    }

    .footer .col-md-4 {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .footer ul {
        font-size: 16px;
        /* Adjust font size */
    }

    .footer .row {
        display: block;
    }
}

@media only screen and (max-width: 320px) {
    html {
        font-size: 50%;
        /* Adjust the base font size for smaller screens */
    }

    .header {
        padding: 2rem 5%;
    }

    .logo {
        font-size: 2rem;
    }

    .navbar a {
        font-size: 1.2rem;
        margin-left: 2rem;
    }

    #menu-icon {
        font-size: 2rem;
        display: block;
    }

    section {
        padding: 5rem 5%;
        width: 200vw;
    }

    .home-content h1 {
        font-size: 3rem;
    }

    .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content p {
        font-size: 1.2rem;
    }

    .home-img img {
        width: 60vw;
    }

    .btn {
        font-size: 1.4rem;
        padding: 0.8rem 2rem;
    }

    .project-card {
        width: 120.98vw;
        height: 164.67vw;
    }

    .project-card .project-content {
        top: 201px;
    }

    .project-card:hover>.project-content {
        top: 64px;
    }

    .project-card>.img-box {
        width: 18rem;
        height: 18rem;
    }

    .certificate-content h3 {
        font-size: 2rem;
    }

    .certificate-content p {
        font-size: 1.2rem;
    }


    .contact form {
        flex-direction: column;
        gap: 1.5rem;
    }

    .contact form .input-box {
        width: 100%;
    }

    .contact form input,
    .contact form textarea {
        font-size: 1.4rem;
        padding: 1.5rem;
    }

    .footer {
        width: 200vw;
    }

    .footer .col-md-4 {
        flex-basis: 100%;
        margin-bottom: 1rem;
    }

    .footer .social a {
        font-size: 20px;
        width: 32px;
        height: 32px;
    }

    .footer ul li {
        display: block;
        padding: 5px 0;
    }

    .footer ul li a {
        font-size: 14px;
    }

    .footer .row {
        display: block;
    }
}